@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
  --hue: 240;
  --base-color: hsl(var(--hue)36% 57%);
  --base-color-second: hsl(var(--hue)65% 88%);
  --base-color-alt: hsl(var(--hue)57% 53%);
  --text-color-light: hsl(0 0% 98%);
}
body {
  margin: 0;
  min-height: 100vh;
  background: url(./_images/dragonballz.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.player{
  max-width: 80vh;
  min-width: 800px;
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: #000000;
  position: relative;
  cursor: pointer;
}
.video{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.fas{
  color: var(--base-color);
  font-size: 30px;
}
.fas:hover{
  color: var(--base-color-second);
}
.show_controls{
  width: 100%;
  height: 30%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  cursor: default;
}
.controls{
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 95px;
  margin-top: -95px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-out 2s;
}
.show_controls:hover .controls{
  opacity: 1;
  transition: all 0.2s ease-out;
}
.control_group{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress_range{
  width: calc(100% - 30px);
  height: 5px;
  background: rgba(126, 126, 126, 0.5);
  margin: auto;
  border-radius: 10px;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  transition: height 0.1s ease-in-out;
}
.progress_range:hover{
  height: 7px;
}
.progress_bar{
  height: 100%;
  background: red;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.controls_left{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}
.controls_right{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.play_controls,
.stop{
  margin-right: 30px;
}
.volume{
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
}
.volume-icon{
  margin-right: 15px;
  cursor: pointer;
}
.volume-range{
  position: relative;
  background: rgba(23, 23, 23, 0.5);
  width: 100px;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.volume-bar{
  background: var(--base-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: width 0.2s ease-in;
}
.volume-bar:hover{
  height: 7px;
  background: var(--base-color-second);
}
.speed, 
.time{
  margin-right: 15px;
  color: var(--text-color-light);
}
select, option{
  cursor: pointer;
}
select{
  background-color: transparent;
  color: var(--text-color-light);
  border: none;
  font-size: .8rem;
  position: relative;
  top: -2.5px;
  border-radius: 5px;
}
select:focus{
  outline: none;
}
select > option{
  background: rgba(0, 0, 0, 0.9);
  border: none;
  font-size: 1em;

}
.fullscreen {
  cursor: pointer;
}
.video-fullscreen {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .player {
    min-width: 0;
    max-width: 95vw;
  }
  .fas {
    font-size: 20px;
  }
  .controls-container {
    height: 50px;
  }
  .control_group {
    position: relative;
    gap: 3px;
  }
  .controls_left,
  .controls_right{
    gap: 10px;
  }
  .progress-range {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  .progress-bar {
    border-radius: 0;
  }
  .play_controls,
  .stop{
    margin: 0;
  }
  .volume-range {
    width: 50px;
  }
  .speed,
  .time {
    margin: 0;
  }
  select {
    font-size: 10px;
  }
  .time {
    font-size: 10px;
  }
}

/* Media Query: Large Smartphone (Horizontal) */
@media screen and (max-width: 900px) and (max-height: 500px) {
  .player {
    max-height: 95vh;
    max-width: auto;
  }
  video {
    height: 95vh;
    object-fit: cover;
  }
  .video-fullscreen {
    height: 97.5vh;
    border-radius: 0;
  }
}
